<div class="d-flex flex-column justify-content-center align-items-center">
  <%= image_tag 'user-pp.png', class: "img-thumbnail rounded-circle border border-2 border-primary", style: "width: 3.5rem" %>
  <small style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 3.5rem">Username is musta</small>
</div>