<%= render "layouts/flash_messages" %>
<div class="d-flex my-5 justify-content-center gap-5">
  <div class="d-flex flex-column gap-3">
    <%= render 'story/stories_list' %>
    <div class="flex flex-column">
      <% current_user.posts.each do |p| %>
        <%= render 'posts/post', post: p %>
      <% end %>
     
    </div>
  </div>
  <%= render 'suggestions/suggestions_list', suggestions: @suggestions %>
</div>
